/* * {
    border: 1px solid red;
} */

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #272838;
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.header-wrapper {
    flex: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
    padding: 0px;
    color: white;
}

.navigation > li {
    padding-left: 36px;
}